* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  margin: 20px;
  margin-top: 30px;
}

div li {
  display: inline;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.add {
  margin-left: 20px;
}

.remove {
  margin: 0 10px;
  background: #ca4949;
}